$osc-color: #3c4c68;

$primary-color: rgb(75, 143, 210);
$font-size: 0.6rem;
@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/icons";

@import "admonition";
@import "codehilite";
@import "discourse";


body {
    color: #333;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: normal;
    background-color: #fff;
    overflow-y: scroll;
    direction: ltr;
}
h1,h2,h3,h4,h5 {
    font-weight: 100;
}

pre, code {
    font-size: 0.7rem;
    font-family: $mono-font-family;
}

hr {
    border: 0;
    border-top: 2px solid rgba(black, 0.15);
}

.dynamic-prop-icon {
    width:12px;
    height:12px;
    background-image: url(img/icon-bolt.svg);
    background-size: cover;
    display: inline-block;
    margin-left: 4px;
}

#jumbotron {
    text-align: center;
    position: relative;
    padding: 10em 0 8em;
    ul {
        list-style: none;
        margin: 0;
        li {
            display:inline-block;
            margin: 0 2px;
        }
    }
}
#jumbotron-showcase {
    margin: -4em auto 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    z-index: 1;
    border-radius: 3px;
    overflow: hidden;
    position: relative;

    #jumbotron-img {
        display: block;
        z-index: 2;
        position: relative;
        cursor: pointer;
        width: 100%;
    }

    .icon-play {
        $size:80px;
        position: absolute;
        z-index: 3;
        top:50%;left:50%;
        margin-left:-$size/2;
        margin-top:-$size/2;
        width: $size;
        height: $size;
        border-radius: 100%;
        box-shadow: 0 0 20px 0 rgba(black, 0.2);
        filter: saturate(0);
        transition: filter 1s;
        pointer-events: none;
    }

    &:hover .icon-play {
        filter: saturate(1);
    }

    #showcase-frame {
        z-index: 1;
        opacity: 0;
        position: absolute;
        top: 0; left: 0;
        width:100%;
        height: 100%;
        border: 0;
        // transition: opacity 0.5s;
        &.show {
            z-index: 4;
            opacity: 1;
        }
    }

}

#jumbotron + #main {
    padding-top: 2em;
    padding-bottom: 0;
}

#logo {
    flex-shrink: 0;
}

#main {
    padding-top: 6.5em;
    padding-bottom: 4em;
    display: flex;
}

.col-left {
    width:240px;
    flex-shrink: 0;
}
.col-left > ul {
    top: 6.5em;
    width: 230px;
    position: fixed;
    overflow-y: auto;
    bottom: 0;
    padding-left: 2px;
    margin: 0;
}
.col-left > ul ul {
    line-height: 1
    li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.col-right {
    flex: 1;
    min-width: 0;
}

.codehilite {
    background-color: #fafafa;
    color: #37474f;
    line-height: 1em;
    overflow-x: auto;
    border-radius: 3px;
    margin-bottom: 1.2rem;
    padding: 12px;
}

.codehilite pre {
    white-space: pre;
    font-feature-settings: "kern";
    font-family: $mono-font-family;
    /* font-family: "Roboto Mono","Courier New",Courier,monospace; */
    direction: ltr;
    line-height: 1.1;
}

table {
  border: 1px solid #eee;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
  margin: 0 0 1.2rem;
}

table tr:nth-child(2n +1) {
    background-color: #f8f8f8;
}

table td {
    padding: 10px;
}
table h4 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

table th {
    font-weight: bold;
    background-color: #888;
    color: #fff;
    vertical-align: top;
    text-align: left;
    padding: 10px;
}

code, tt {
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  background-color: #f8f8f8;
  color: #333333;
  font-family: $mono-font-family;
 }


code {
    background-color: #fafafa;
    padding: 2px;
}

h1,h2,h3,h4,h5 {
    code {
        vertical-align: middle;
        font-size: 70%;
    }
}



table code {
    white-space: nowrap;
}

img {
    max-width: 100%;
}

table .thead2 {
    background: #ddd!important;
    color: #666;
    white-space: nowrap;
}


.headerlink {
    opacity: 0;
    position: relative;
    margin-left: 4px;
}
:hover > .headerlink {
    opacity: 0.5;
}


h1:first-child {
    margin-top:0;
}

#mkdocs-search-query {
    /* border: 1px solid rgba(255,255,255,.1); */
    border:0;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.1) inset;
    background:rgba(0,0,0,0.15);
    border-radius: 15px;
    color: #eee;
    outline: none;
    padding:3px 12px;
    margin-right: 10px;
    transition: background-color .25s, color .25s;
    &:focus {
        background: white;
        color:#333;
    }
}

.sp-logo {
    display:inline-block;
    margin-top:20px;
}

@import 'mobile';
